<h1 align="center">welcome to the home page</h1>
<br>
<table border="2" align="center" class="tb">
<td><%=link_to" add a user",new_user_path%></td>
<td><%=link_to" edit a user",new_user_path%></td>
	
</table>

