<h2 class="main1">welcome to user registration page</h2>
<%= render :partial => 'form' %>
<table  align="center">
	<tr>
		<td></td><td></td><td><%= button_to "back ",  admin_users_path, :method => "get" %></td>
	</tr>
</table> 